## Mising and Invalid Data


* It is often the case that the data we receive has missing * \
information in some columns. For instance, some customer’s
data might be missing their age. If the data has a large\
number of missing entries, the result of data analysis may be
unpredictable or even wrong. Missing values in a dataset can\
be either
· Ignored,
· Filled-in, or
· Removed or dropped.

In [24]:
import numpy as np
import pandas as pd
myseries4 = pd.Series([10, 20, 30, None, 40, 50, np.NaN], index=[0,1,2,3,4,5,6]) 


print(myseries4)
results = myseries4.isnull()
nnol =[ not(x) for x in results]
myseries4[nnol]

0    10.0
1    20.0
2    30.0
3     NaN
4    40.0
5    50.0
6     NaN
dtype: float64

0    10.0
1    20.0
2    30.0
4    40.0
5    50.0
dtype: float64

# We can drop the missing values by using the function `dropna( ).`

In [23]:
myseries4_dropped = myseries4.dropna()
myseries4_dropped

0    10.0
1    20.0
2    30.0
4    40.0
5    50.0
dtype: float64

** The process in which the missing values are filled-in is called
“data imputation.” One of the widely used techniques is mean
value imputation, where we impute the missing values by the
average value of that particular column in which the value is
missing. **

In [25]:
myseries4_filled = myseries4.fillna(myseries4.mean())
myseries4_filled

0    10.0
1    20.0
2    30.0
3    30.0
4    40.0
5    50.0
6    30.0
dtype: float64