#   Getting Data From the Web

In [5]:
from lxml import html
import requests

page = requests.get("http://econpy.pythonanywhere.com/ex/001.html")

tree = html.fromstring(page.content)

buyers = tree.xpath("//div[@title='buyer-name']/text()")
price = tree.xpath("//span[@class='item-price']/text()")

print(f"Buyers  {buyers}")
print(f"price  {price}")

Buyers  ['Carson Busses', 'Earl E. Byrd', 'Patty Cakes', 'Derri Anne Connecticut', 'Moe Dess', 'Leda Doggslife', 'Dan Druff', 'Al Fresco', 'Ido Hoe', 'Howie Kisses', 'Len Lease', 'Phil Meup', 'Ira Pent', 'Ben D. Rules', 'Ave Sectomy', 'Gary Shattire', 'Bobbi Soks', 'Sheila Takya', 'Rose Tattoo', 'Moe Tell']
price  ['$29.95', '$8.37', '$15.26', '$19.25', '$19.25', '$13.99', '$31.57', '$8.49', '$14.47', '$15.86', '$11.11', '$15.98', '$16.27', '$7.50', '$50.85', '$14.26', '$5.68', '$15.00', '$114.07', '$10.09']

In [8]:
import numpy as np
import pandas as pd

mydata = {'Employee Name' : ['Ashley','Tom','Jack','John',
'Alicia'],
'Specialization' : ['Python','Data Science','Data preparation','Data Analysis','Machine Learning'],
'Experience (years)' : [3,5,8,2,4]}
myframe = pd.DataFrame(mydata, index=["One","Two","Three","Four","Five"])

print(myframe)

      Employee Name    Specialization  Experience (years)
One          Ashley            Python                   3
Two             Tom      Data Science                   5
Three          Jack  Data preparation                   8
Four           John     Data Analysis                   2
Five         Alicia  Machine Learning                   4

In [9]:
myseries1 = pd.Series(np.random.rand(5),list(range(5)))
print(myseries1)

0    0.818655
1    0.917340
2    0.755924
3    0.407615
4    0.244067
dtype: float64

In [10]:
myseries1 = pd.Series([50, 40, 30, 20, 10], index=[1,2,3,4,5]) 
myseries2 = pd.Series([100, 200, 300, 400] ,index=[3,4,5,6])
myseries1.combine_first(myseries2)

1     50.0
2     40.0
3     30.0
4     20.0
5     10.0
6    400.0
dtype: float64