In [1]:
import numpy as np
import pandas as pd

data = {
 'color' : ['blue','white','red','red','white'],
 'object' : ['ball','pen','pencil','paper','mug'],
 'price' : [1.2,1.0,0.6,0.9,1.7]
 
 }


myframe  = pd.DataFrame(data)
myframe

   color  object  price
0   blue    ball    1.2
1  white     pen    1.0
2    red  pencil    0.6
3    red   paper    0.9
4  white     mug    1.7

In [9]:
mygroup = myframe["price"].groupby(myframe["color"])
mygroup.groups
mygroup.mean()

color
blue     1.20
red      0.75
white    1.35
Name: price, dtype: float64

In [10]:
mygroup.median()

color
blue     1.20
red      0.75
white    1.35
Name: price, dtype: float64

In [11]:
mygroup.sum()

color
blue     1.2
red      1.5
white    2.7
Name: price, dtype: float64

In [12]:
myframe.columns

Index(['color', 'object', 'price'], dtype='object')

In [14]:
myframe.index

RangeIndex(start=0, stop=5, step=1)